.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10%;
  background-color: var(--background-color);
}

.hero-content {
  flex: 1;
}

.hero-content h1 {
  font-size: 2.5rem;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: var(--primary-color);
  margin-bottom: 15px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.hero-content p {
  font-size: 1.2rem;
  font-family: "Poppins";
  color: var(--text-color-light);
  line-height: 1.6;
  text-align: center;
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.hero-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.cta-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-button {
  background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  box-shadow: 0 4px 8px rgba(33, 150, 243, 0.3);
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  justify-content: center;
}

.cta-button:hover {
  background: linear-gradient(135deg, var(--secondary-color), var(--primary-color));
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(33, 150, 243, 0.5);
}

/* Ensures the <Link> inside behaves like a button */
.cta-button a {
  color: white;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}



