<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Language Recognition</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <script defer src="{{ url_for('static', filename='script.js') }}"></script>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar">
      <div class="logo">
        <h2>SignAI</h2>
      </div>
      <div class="nav-links">
        <button class="nav-icon">
            <i class="fas fa-home"></i> <span>Home</span>
        </button>
        <button class="nav-icon">
            <i class="fas fa-book"></i> <span>Tutorial</span>
        </button>
        <button class="nav-icon">
            <i class="fas fa-cog"></i> <span>Settings</span>
        </button>
    </div>
    
    </nav>

    <!-- Main Content -->
    <main>
      <section class="video-container">
        <h2>Live Video Stream</h2>
        <img id="video-feed" src="" alt="Click 'Open Camera' to Start" />
        <button
          id="open-camera-btn"
          class="open-camera-btn"
          onclick="openCamera()"
        >
          📷 Open Camera
        </button>
        <div id="prediction-box">
          <button id="tts-button" class="tts-btn">Enable Voice</button>
          <h3>Predicted Sign:</h3>
          <p id="prediction-text">Waiting...</p>
        </div>
      </section>
    </main>

    <!-- Footer -->
    <footer>
      <p>© 2025 Sign AI. All Rights Reserved.</p>
    </footer>
  </body>
</html>
