Flask==3.1.0
Flask-Cors==5.0.1
Flask-PyMongo==3.0.1
gunicorn==23.0.0
python-dotenv==1.1.0
PyJWT==2.10.1
pymongo==4.11.3
mediapipe==0.10.18
opencv-python-headless==4.7.0.72
tensorflow==2.19.0
numpy==1.26.4
imutils==0.5.4      
